@model MvcProject_Sayed.Models.Emloyee
<table style="font-family:Arial; border:2px solid black; width: 300px">
    <tr>
        <td>
            <table>
                <tr>
                    <td><b>Employee Name:</b></td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td><b>Address:</b></td>
                    <td>@Model.Address</td>
                </tr>

                <tr>
                    <td><b>Email Address:</b></td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td><b>Gender:</b></td>
                    <td>@Model.Gender</td>
                </tr>
                <tr>
                    <td><b>Date Of Birth:</b></td>
                    <td>@Model.DOB</td>
                </tr>

            </table>
        </td>
    </tr>
</table>
